# Salida compilada.
/dist
/node_modules
/build
/frontend/dist/

# Archivos de registro (logs).
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos del sistema operativo (OS).
.DS_Store

# Archivos de pruebas (tests).
/coverage
/.nyc_output

# Archivos y carpetas de editores e IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Configuración específica de Visual Studio Code.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Archivos de variables de entorno (.env)
.env
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Directorios temporales.
.temp
.tmp

# Datos generados en tiempo de ejecución.
pids
*.pid
*.seed
*.pid.lock

# Informes de diagnóstico de Node.js (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Carpeta local de datos de postgres (creada por Docker). Suele dar problemas con los permisos.
backend/database/db-data/